<div class="comments d-flex flex-column">
  {{#each comments}}
  <section class="comment">
    <div class="meta">
      <a class="username" href="/profile/{{user_id}}">{{user.username}}</a> on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
      {{#if loggedIn}}
      <button onclick="deleteComment()" type="button" class="btn-sm btn-outline-light" id="{{id}}"><i style="color:whitesmoke !important;" class="fas fa-trash faa-spin animated-hover" id="{{id}}"></i></button>
      {{/if}}
    </div>
  </section>
  {{/each}}
</div>