<article class="post">
    <div class="title">
    <a href="/post/{{id}}" target="_blank">{{album_title}}</a>
    <span>by {{user.username}} on {{createdAt}}</span>
    </div>
    <div class="post-text">
        <img src="{{photo_url}}" alt="Album Photo">
        <p>Artist: {{artist}}</p>
        <p>Album Title: {{album_title}}</p>
        <p>Genre: {{genre}}</p>
    </div>
</article>
