<article class="post">
    <div class="title">
    <a href="/post/{{id}}" target="_blank">{{album_title}}</a>
    <h3>by <a href="/profile/{{user_id}}">{{user.username}}</a> on {{format_date createdAt}}</h3>
    </div>
    <div class="post-text">
        <img src="{{photo_url}}" alt="Album Photo" id="album-photo">
        <p>Artist: {{artist}}</p>
        <p>Album Title: {{album_title}}</p>
        <p>Genre: {{genre}}</p>
    </div>
</article>
