<div class="post card">
    <div class="title card-title">
    {{!-- <a href="/post/{{id}}" target="_blank">{{album_title}}</a> --}}
    {{!-- <span> --}}
    <a class="username" href="/profile/{{user_id}}">{{user.username}}</a> 
        <span class="createdAt">
        {{format_date createdAt}}
        </span>
    {{!-- </span> --}}
    </div>
    <div class="post-text card-body container">
        <div class="row">
            <div class= "col-sm album-photo">
                <img src="{{photo_url}}" alt="Album Photo" id="album-photo">
            </div>
            <div class= "col-sm">
                <p>Artist: {{artist}}</p>
                <p>Album Title: {{album_title}}</p>
                <p>Genre: {{genre}}</p>
                <p>Year: {{year}}</p>
                <p>Format: {{format}}</p>
                <p><span class= "description">{{description}}</span></p>
                <a href="/post/{{id}}">({{comments.length}} {{format_plural "comment" comments.length}})</a>
                {{!-- {{#if loggedIn}}
                <a href="/profile/edit-post/{{post.id}}" class="edit-link">Edit Post</a>
                {{/if}} --}}
            </div>
        </div>     
    </div>
    {{!-- <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div> --}}
</div>
