<div class="post card col-md-6">
    
    <div class="title card-title">
    <a class="username faa-parent animated-hover" href="/profile/{{user.id}}">
    <i class="fa fa-headphones fa-xs faa-bounce faa-slow"></i>
    {{user.username}}
    </a> 
        <span class="createdAt">
        {{format_date createdAt}}
        </span>
    </div>

    <div class="post-text card-body container">
        <a href="/post/{{id}}">
            <img src="{{photo_url}}" alt="Album Photo" id="album-photo">
        </a>
        <p>{{artist}} - {{album_title}} ({{year}}) </p>
        <p>Genre: {{genre}}</p>
        <p>Format: {{format}}</p>
        <p><span class= "description">{{description}}</span></p>
        <a href="/post/{{id}}">{{comments.length}} 
            {{format_plural "comment" comments.length}} | 
            {{votes.length}}
            {{format_plural "like" votes.length}}
            </a>
    </div>

    {{#if loggedIn}}
    <a href="/profile/edit-post/{{id}}" class="edit-link">Edit Post</a>
    {{/if}}
</div>
