<section class= "animate edit-section">
  <div class="container">
    <div class="row">
        <div class="col-3"></div>
      <form class="edit-profile-form col-6">
        {{!-- <h2>Edit profile:</h2> --}}
          <img src="/assets/images/edit-profile-header.png" alt="Edit Profile" class="header-img">
          <div>
            <label for="profile-username">Username</label>
            <input type="text" id="profile-username" class="form-control" name="profile-username" value="{{user.username}}"/>
          </div>
          <div>
            <label for="profile-email">Email</label>
            <input type="text" id="profile-email" class="form-control" name="profile-email" value="{{user.email}}"/>
          </div>
          <div>
            <label for="profile-location">Location</label>
            <input type="text" id="profile-location" class="form-control" name="profile-location" value="{{user.location}}"/>
          </div>
          <div>
            <label for="profile-bio">Bio</label>
            <input type="text" id="profile-bio" class="form-control" name="profile-bio" value="{{user.bio}}"/>
            {{!-- <textarea id="profile-bio" name="profile-bio" cols="30" rows="1" maxlength="140">{{user.bio}}</textarea> --}}
          </div>
          <button type="submit" class="btn btn-outline-light">Save</button>
        </form>
        <div class="col-3"></div>
    </div>
  </div>
</section>

<script src="/javascript/edit-profile.js"></script>
