<section class="animate-feed">
<section class="profile-info container">
  <div class="row d-block">
      <div class= "col-4">
        <h4 class="userIdAccess" id='{{user.id}}'>
          <i class="fa fa-user fa-xs faa-float animated faa-slow"></i>
          {{user.username}}</h4>
      </div>
      <div class= "col-8">
        {{#if user_profile}}
        <a href="/profile/edit-profile/{{user.id}}">Edit Profile</a>
        {{/if}}
      </div>
  </div>
  <div class="row">
    <div class="col-4 profile-col-1 text-white">
      <h6>Email: {{user.email}}</h6>
      <h6>Location: {{user.location}}</h6> 
    </div>
    <div class = "col-8 text-white" id="bioInfo">
        {{#if user.bio}}
        <h6>Bio: <i>{{user.bio}}</i></h6>
        </p>
        {{else}}
        {{#unless loggedIn}}
        <button class='btn btn-primary' id="add-bio">Add a bio!</button>
        {{/unless}}
        {{/if}}
    </div>
  </div>
</section>


{{#if posts.length}}
<section>
  {{!-- <h2>Your Posts</h2> --}}
  <ul>
    {{#each posts as |post|}}
    <li class="post-info">
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
</section>
{{else}}
<h4 class='text-white no-posts'>No posts yet!</h4>
{{/if}}

{{#if user_profile}}
<a class="add-post-link" href="/profile/post"> + New Post</a>
{{/if}}
</section>

<script src="/javascript/add-bio.js"></script>