<section class="animate-feed">
<section class="profile-info container">
  <div class="row pb-2">
      <div class= "col-4">
        <h4 class="userIdAccess" id='{{user.id}}'>
          <i class="fa fa-headphones fa-xs faa-float animated"></i>
          {{user.username}}</h4>
      </div>
      <div class= "col-md-8">
        {{#if user_profile}}
        <a href="/profile/edit-profile/{{user.id}}" class="faa-parent animated-hover"><i class="fas fa-user faa-ring"></i> Edit Profile</a>
        {{/if}}
      </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-white">
      <h6 class="word-wrap">Email: {{user.email}}</h6>
      <h6 class='word-wrap'>Location: {{user.location}}</h6> 
    </div>
    <div class = "col-8 text-white" id="bioInfo">
        {{#if user.bio}}
        <h6>Bio: <i>{{user.bio}}</i></h6>
        </p>
        {{else}}
        {{#unless loggedIn}}
        <button class='btn btn-primary' id="add-bio">Add a bio!</button>
        {{/unless}}
        {{/if}}
    </div>
  </div>
</section>

{{#if user_profile}}
  <a class="add-post-link" href="/profile/post"> <h3> <i class="fa fa-compact-disc faa-spin animated"></i> Add New Post</h3> </a>
  {{/if}}
{{#if posts.length}}
<section>
  
  <h3 class="old-posts">Posts:</h3>
  <ul>
    {{#each posts as |post|}}
    <li class="post-info">
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
</section>
{{else}}
<h4 class='text-white no-posts'>No posts yet!</h4>
{{/if}}


</section>

