<section class="animate-feed py-2">


<form id="search-form">
    <label for="search">Search by: </label>
    <select type="text" name="search" class="form-control-sm" id="search-for">
        <option value="User">User</option>
        <option value="Artist">Artist</option>
    </select>
    <input type="text" class="form-control-sm" id="search-form-input" />
    <button class='btn btn-outline-light' type="submit">Search</button>
</form>


<ul>
{{#each users}}
<li class="user-list-item">
    <a href='/profile/{{id}}'>
    <h5 class="faa-parent animated-hover"><i class="fa fa-headphones faa-bounce faa-slow"></i> {{username}}</h5> 
    <p><i>"{{bio}}"</i></p>
    </a>
</li>
{{/each}}
{{#each posts as |post|}}
    <li class="post-list-item">
        {{!-- <a href='/post/{{id}}'>{{artist}} - {{album_title}} {{year}}</a> --}}
      {{> post-info post}}
    </li>
{{/each}}
</ul>


<script src='/javascript/search.js'></script>
</section>